@keyframes slide-down {
    0% { opacity: 0; transform: translateY(-100%); }   
  100% { opacity: 1; transform: translateY(0); }
}

@keyframes slide-up {
  0% { opacity: 0; transform: translateY(100%); }   
100% { opacity: 1; transform: translateY(0); }
}

@keyframes slide-right {
    0% { opacity: 0; transform: translateX(-100%); }   
  100% { opacity: 1; transform: translateX(0); }
}

@keyframes slide-left {
    0% { opacity: 0; transform: translateX(100%); }   
  100% { opacity: 1; transform: translateX(0); }
}

@keyframes pop-out {
  from   { transform: scale(1); }
  to { transform: scale(1.2);}
}

@keyframes pop-in {
  from   { transform: scale(1.2); }
  to { transform: scale(1);}
}

@keyframes button-out {
    from   { transform: scale(1); }
    to { transform: scale(1.09);}
  }
  
  @keyframes button-in {
    from   { transform: scale(1.09); }
    to { transform: scale(1);}
  }