/** Animations **/

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@keyframes orangeBgr {
    0% {background-image: linear-gradient(#1c1c1c, black 0%);}
    1% {background-image: linear-gradient(#1c1c1c, black 5%);}
    2% {background-image: linear-gradient(#1c1c1c, black 10%);}
    3% {background-image: linear-gradient(#1c1c1c, black 15%);}
    4% {background-image: linear-gradient(#1c1c1c, black 20%);}
    5% {background-image: linear-gradient(#1c1c1c, black 25%);}
    6% {background-image: linear-gradient(#1c1c1c, black 30%);}
    7% {background-image: linear-gradient(#1c1c1c, black 35%);}
    8% {background-image: linear-gradient(#1c1c1c, black 40%);}
    9% {background-image: linear-gradient(#1c1c1c, black 45%);}
    10% {background-image: linear-gradient(#1c1c1c, black 50%);}
    11% {background-image: linear-gradient(#1c1c1c, black 55%);}
    12% {background-image: linear-gradient(#1c1c1c, black 60%);}
    13% {background-image: linear-gradient(#1c1c1c, black 65%);}
    14% {background-image: linear-gradient(#1c1c1c, black 70%);}
    15% {background-image: linear-gradient(#1c1c1c, black 75%);}
    16% {background-image: linear-gradient(#1c1c1c, black 80%);}
    17% {background-image: linear-gradient(#1c1c1c, black 85%);}
    18% {background-image: linear-gradient(#1c1c1c, black 90%);}
    19% {background-image: linear-gradient(#1c1c1c, black 95%);}
    20% {background-image: linear-gradient(#1c1c1c, black 100%);}
    100% {background-image: linear-gradient(#1c1c1c, black 100%);}
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

/** Arrow **/

.arrow {
    border: solid rgb(201, 201, 38);
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 7px;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

/** General **/

html {
    scroll-behavior: smooth;
}

p {
    color: #fff;/**#f0c479;**/
    text-align: center;
    margin: 0;
}

body {
    background: linear-gradient(-45deg, #000, #000, #000, #1c1c1c, #5c3700, #FF9900, #FF9900, #FF0);
    background-size: 1000% 1000%;
    animation: gradient 5s ease;
    animation-fill-mode: forwards;
    margin: 0;
}

/** Home **/

.home {
    height: 100vh;
    width: 100%;
}

.center {
    -webkit-box-align: center;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.subtitle {
    font-size: 30px;
    animation: fadeIn ease-in 1s;
    font-family: 'Rubik', sans-serif;
}

.title {
    margin-top: 0px;
    font-size: 55px;
    opacity: 0;
    text-shadow: 0 0 4px #FF9900;
    font-family: 'Baloo 2', cursive;
    color: #FF9900;
    animation: fadeIn ease-in 1s 1s;
    animation-fill-mode: forwards;
}

.center a {
    text-decoration: none;
    font-size: 25px;
    font-family: 'Rubik', sans-serif;
}

.center hr {
    border: 1px solid #fff;   
    width: 25px;
    opacity: 0;
    animation: fadeIn ease-in 1s 2s;
    animation-fill-mode: forwards;
}

.center h5 {
    color: #fff;
    opacity: 0;
    font-weight: 100;
    font-family: 'Rubik', sans-serif;
    animation: fadeIn ease-in 1s 2s;
    animation-fill-mode: forwards;
    margin-top: 32px;
}

.discord {
    color: #7289DA;
    opacity: 0;
    font-weight: bold;
    animation: fadeIn ease-in 1s 2s;
    animation-fill-mode: forwards;
}

.discord-on:hover {
    content: "> Discord <"
}

.contact {
    color: #22b322;
    opacity: 0;
    font-weight: bold;
    animation: fadeIn ease-in 1s 2s;
    animation-fill-mode: forwards;
}

.github {
    color: #ffffff;
    opacity: 0;
    font-weight: bold;
    animation: fadeIn ease-in 1s 2s;
    animation-fill-mode: forwards;
}
